
body, html{
    transition: all 2s;
}

.formDiv{
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    background-color: #ccc;
    min-width: 300px;
    transition: all 2s;
}

.imgDiv{
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px 0;
    cursor: pointer;
}

#uplo{
    cursor: pointer;
}